
<% layout('./const/boilerplate.ejs') -%>
	<%- include('./includes/toggles.ejs') %>
    <div class="card_container row-md-10">
	<% for(let data of listings){ %>
	<% if(data.category === "adventure" ) { %>
	<a href="/listings/<%= data.id %>" class="card_click">
	    <div class="cards">
		<img src="<%= data.image.url %>" alt="img" class="card_img">
		<div class="card_text"> 
		    <p style="font-size:8px;"><b><%= data.title%></b><br>
		    &#8377;<%= data.price.toLocaleString("en-IN") %>/night<br>
		    <%= data.location %></p>
		</div>
	    </div>
	</a>
	<% } %>	
	<% } %>	
    </div>

	
</body>
