<% layout('/const/boilerplate') -%> 
<body>
    <form action="/listings?_method=PATCH" method="post">
	<div>
	    <label for="title" class="form-label">Title:</label>
	    <input type="text" name="title" id="title" value="<%= result.title%>"class="form-control">
	</div>
	<div>
	    <label for="price"class="form-label">price:</label>
	    <input type="text" name="price" id="price" value="<%= result.price %>"class="form-control">
	</div>
	<div>
	    <label for="location"class="form-label">location:</label>
	    <input type="text" name="location" id="location" value="<%= result.location %>"class="form-control">
	</div>
	<div>
	    <label for="country"class="form-label">country:</label>
	    <input type="text" name="country" id="country" value="<%= result.country%>"class="form-control">
	</div>
	<div>
	    <label for="description"class="form-label">description:</label>
	    <textarea name="description" id="description"class="form-control"><%= result.description %></textarea>
	</div>
	<br><br>
	<button class="btn btn-dark">Update</button>
    </form>

