<% layout('/const/boilerplate') -%>
<body>
    <h5 class="card_indidata_title"><%= indiData.title %> </h5>
     
    <div class="row-md-10 col-md-10 offset-md-4">
	<div class="col-12 col-md-5">
	    <img src="<%= indiData.image.url %>"class="img-fluid"alt="image">
	</div>
	<div class="card_indidata_text">
	    <h6 id="card_indidata_price">&#8377;<%= indiData.price.toLocaleString("en-EN") %>/night </h6>
	    <div class="row-md-1 ">
		<p class="card-indidata-location" >
		<%= indiData.location %><br>
		<%= indiData.country%><br>
		</p>
	    </div>
	</div>
    </div>
	<p id="card_indidata_description">
	<%= indiData.description %>
	</p>
    <div>
    <div class="indidata_btns">
	<form action"/listings/<%= indiData.id %>?_method=DELETE" class="delete_btn" action="post">
	    <button class="btn btn-dark custom-btn-size custom-btn-color">Delete</button>
	</form>
	<form action="/listings/<%= indiData.id %>/edit" class="edit_btn" method="get"> 
	    <button class="btn btn-dark custom-btn-size custom-btn-color">Edit</button>
	</form>
    </div>
    <div class="Review-box mt-3 mb-3">
	<form action="listings/:id/review" method="POST">
	    <h4>Write a review!</h4>
	    <label for="ratings" class="form-label">Add your comment here</label>
	    <input type="range" name="review[ratings]" id="ratings" class="form-range">
	    
	    <label for="comments" class="form-label">Add your comment here</label>
	    <textarea name="review[comments]" id= "comments" row="3" cols="75" class="form-control"></textarea>
	    <button class="btn btn-outline-dark mt-3" >Post</button>
	</form>
</body>
