<% layout('/const/boilerplate') -%>
<body>
    <h5 class="card_indidata_title"><%= indiData.title %> </h5>

    <div class="row-md-10 col-md-10 offset-md-4 card_indidata">
	<div class="col-12 col-md-5">
	    <img src="<%= indiData.image.url %>"class="img-fluid"alt="image">
	</div>
	<h6 id="card_indidata_price">&#8377;<%= indiData.price.toLocaleString("en-EN") %>/night </h6>
	<div class="card_indidata_text">
	    <p>
	    <i>Owned by <%= indiData.owner ? indiData.owner.username : 'Unknown' %></i><br>
	    <%= indiData.location %><br>
	    <%= indiData.country%><br>
	    </p>
	</div>
    </div>
    <div class=" mt-1 offset-1">
	<p id="card_indidata_description">
	<%= indiData.description %>
	</p>
    </div>
    <div class="indidata_btns">
    <% if(currUser && indiData.owner && currUser._id.equals(indiData.owner._id)) { %> 
	<form action="/listings/<%= indiData.id %>?_method=DELETE" class="delete_btn" method="post">
	    <button class="btn btn-dark custom-btn-size custom-btn-color">Delete</button>
	</form>
	<form action="/listings/<%= indiData.id %>/edit" class="edit_btn" method="get"> 
	    <button class="btn btn-dark custom-btn-size custom-btn-color">Edit</button>
	</form>
    <% } %>
    </div>
    <hr>
    <div class="Review-box row-md-10 col-md-10 offset-md-1 mt-3 mb-3">
	<% if (currUser ) { %> 
	<h4>Write a review!</h4>
	<form action="/listings/<%= indiData.id %>/reviews" method="POST" novalidate class="needs-validation" >
	    <label for="ratings" class="form-label">Rate us here!</label>
		<fieldset class="starability-slot">
		    <input type="radio" id="no-rate" class="input-no-rate" name="review[ratings]" value="1" checked aria-label="No rating." />
		    <input type="radio" id="first-rate1" name="review[ratings]" value="1" />
		    <label for="first-rate1" title="Terrible">1 star</label>
		    <input type="radio" id="first-rate2" name="review[ratings]" value="2" />
		    <label for="first-rate2" title="Not good">2 stars</label>
		    <input type="radio" id="first-rate3" name="review[ratings]" value="3" />
		    <label for="first-rate3" title="Average">3 stars</label>
		    <input type="radio" id="first-rate4" name="review[ratings]" value="4" />
		    <label for="first-rate4" title="Very good">4 stars</label>
		    <input type="radio" id="first-rate5" name="review[ratings]" value="5" />
		    <label for="first-rate5" title="Amazing">5 stars</label>
		</fieldset>
	    <div>
		<label for="comments" class="form-label">Add your comment here</label>
		<textarea name="review[comments]" id= "comments" row="3" col="45"width:"75%" class="form-control"    required>
		</textarea>
		<div class="invalid-feedback">
		    Please leave a comment!!
		</div>
	    </div>
	    <button class="btn btn-outline-dark mt-3" >Post</button>
	</form>
	<% } %>
	<p><b>All Reviews</b></p>
	<div class="row">
	    <% for(let review of indiData.reviews) { %>
	    <div class="card col-5 ms-3 mt-3">
		<div class="card-body ">
		    <h6 class="class-title"><b><i>@<%= review.author.username %></i> </b></h6>
		    <p class="starability-result" data-rating="<%= review.ratings%>"></p>
		    <p class="card-text"><%= review.comments %></p>
		</div>
		<% if(currUser && currUser._id.equals(review.author._id)) { %>
		<form action="/listings/<%= indiData.id %>/reviews/editReview/<%= review.id %>" method="GET">
		    <button class="btn btn-outline-dark mb-1">Edit</button>
		</form>
		<% } %>
	    </div>
	    <% } %>
	</div>
    </div>
</body>
