<% layout('/const/boilerplate') -%>
<body>
    <h2><%= result.title %></h2>
    <ul>
	<li><%= result.description %></li>
	<li><%= result.price %></li>
	<li><%= result.location %></li>
	<li><%= result.country %></li>
    </ul>
    <a href="/listings/<%= result.id %>/edit">Edit this listing </a>
    <form action"/listings/<%= result.id %>?_method=DELETE">
    <button>Submit </button>
    </form>

</body>
