<% layout('./const/boilerplate.ejs') -%>
<body>
    <div class="filters mt-3">
	<a href="#"> 
	    <div class="filter">
		<div class="icons"> 
		    <i class="fa-solid fa-fire"></i>
		</div>
		<p>Trending</p>
	    </div>
	</a>
	<a href="#">
	    <div class="filter">
		<div class="icons"> 
		    <i class="fa-solid fa-umbrella-beach"></i>
		</div>
		<p>Beaches</p>
	    </div>
	</a>
	<a href="#">
	    <div class="filter">
		<div class="icons">
		    <i class="fa-solid fa-mountain-sun"></i>
		</div>
		<p>Mountains</p>
	    </div>
	</a>
	<a href="#">
	    <div class="filter">
		<div class="icons">
		    <i class="fa-solid fa-door-open"></i>
		</div>
		<p>Outdoors</p>
	    </div>
	</a>
	<a href="#">
	    <div class="filter">
		<div class="icons"> 
		    <i class="fa-solid fa-snowman"></i>
		</div>
		<p>Snowy</p>
	    </div>
	</a>
	<a href="#">
	    <div class="filter">
		<div class="icons"> 
		    <i class="fa-solid fa-campground"></i>
		</div>
		<p>camping</p>
	    </div>
	</a>
	<a href="#">
	    <div class="filter">
		<div class="icons">
		    <i class="fa-solid fa-tree-city"></i>
		</div>
		<p>Cities</p>
	    </div>
	</a>
	<a href="#">
	    <div class="filter">
		<div class="icons">
		    <i class="fa-solid fa-compass"></i>
		</div>
		<p>Adventure</p>
	    </div>
	</a>
    </div>
    <div class="card_container row-md-10">
	<% for(let data of listings){ %>
	<a href="/listings/<%= data.id %>" class="card_click">
	    <div class="cards">
		<img src="<%= data.image.url %>" alt="img" class="card_img">
		<div class="card_text"> 
		    <p style="font-size:8px;"><b><%= data.title%></b><br>
		    &#8377;<%= data.price.toLocaleString("en-IN") %>/night<br>
		    <%= data.location %></p>
		</div>
	    </div>
	</a>
	<% } %>	
    </div>
</body>
