<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Airbnb</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<h2>listings!!!</h2>
	<% for(let data of result){ %>
	    <div>
	    <img src="<%= data.image.url %>" alt="img">
	    <h3><%= data.title%></h3>
	    </div>
	    <a href="/listings/<%= data.id %>">tap here for  more info!</a>
	    &nbsp;&nbsp;&nbsp;
	    <a href="/listings/<%= data.id %>/edit">Update details</a>
	<form action="/listings/<%= data.id %>?_method=DELETE" method="post">
	    <button type="submit" >Delete</button>
	</form>
	<hr><hr>
	    <% } %>	
	<form action="/listings/new"><button>add your place now!</button></form>
</body>
</html>
